In [1]:
# Import Libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm 
from statsmodels.iolib.summary2 import summary_col

In [2]:
# Create a Spark Session
spark = SparkSession.builder.appName("EDA").getOrCreate()

In [3]:
# Load the Data
pandasdf = pd.read_excel('INMET_SE_SP_A771_2022.xlsx')
df = spark.createDataFrame(pandasdf)

In [4]:
# Basic Data Exploration
print('Columns overview')
pd.DataFrame(df.dtypes, columns = ['Column Name','Data type'])

Columns overview

                                          Column Name  Data type
0                                                Data  timestamp
1                                            Hora UTC     string
2                     PRECIPITAÇÃO TOTAL HORÁRIO (mm)     double
3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO HORARI...     double
4     PRESSÃO ATMOSFERICA MAX NA HORA ANT  (AUT) (mB)     double
5      PRESSÃO ATMOSFERICA MIN NA HORA ANT (AUT) (mB)     double
6                             RADIACAO GLOBAL (Kj/m²)     double
7         TEMPERATURA DO AR - BULBO SECO HORARIA (°C)     double
8                TEMPERATURA DO PONTO DE ORVALHO (°C)     double
9           TEMPERATURA MÁXIMA NA HORA ANT (AUT) (°C)     double
10          TEMPERATURA MÍNIMA NA HORA ANT (AUT) (°C)     double
11     TEMPERATURA ORVALHO MAX NA HORA ANT (AUT) (°C)     double
12     TEMPERATURA ORVALHO MIN NA HORA ANT (AUT) (°C)     double
13              UMIDADE REL MAX NA HORA ANT (AUT) (%)     double
14              UMIDADE REL MIN NA HORA ANT (AUT) (%)     double
15                 UMIDADE RELATIVA DO AR HORARIA (%)     double
16                VENTO DIREÇÃO HORARIA (gr) (° (gr))     double
17                          VENTO RAJADA MAXIMA (m/s)     double
18                     VENTO VELOCIDADE HORARIA (m/s)     double

In [5]:
# Finding the missing values

# Get the column names
column_names = df.columns

# Get the numeric_columns
numeric_columns = column_names[2:]

missing_values = {} 
for index, column in enumerate(df.columns):
    if column in numeric_columns:  # check zeroes, None, NaN
        missing_count = df.where(col(column).isin([0,None,np.nan])).count()
        missing_values.update({column:missing_count})

missing_df = pd.DataFrame.from_dict([missing_values])
missing_df

   PRECIPITAÇÃO TOTAL HORÁRIO (mm)  ...  VENTO VELOCIDADE HORARIA (m/s)
0                             7855  ...                               3

[1 rows x 17 columns]

In [6]:
# Remove rows with missing values
df = df.dropna()

In [7]:
# Drop the 'Hora UTC' column
df = df.drop("Hora UTC")

In [8]:
describe_result = df.describe()

# Convert the result to a Pandas DataFrame with custom column names
pandas_df_describe = describe_result.toPandas().rename(columns={'summary': 'Column Name', 'col1': 'Data type'})

# Display the Pandas DataFrame
pandas_df_describe

  Column Name  ... VENTO VELOCIDADE HORARIA (m/s)
0       count  ...                           4468
1        mean  ...             2.3918979409131604
2      stddev  ...             1.1241878102424863
3         min  ...                            0.1
4         max  ...                            8.0

[5 rows x 18 columns]

In [9]:
# Avarage values for each month
from pyspark.sql.functions import month, year, avg

# Convert the 'Data' column to a date type if it's not already
df = df.withColumn("Data", df["Data"].cast("date"))

# Extract the month and year from the 'Data' column
df = df.withColumn("Month", month(df["Data"]))
df = df.withColumn("Year", year(df["Data"]))

# Get the numeric_columns
numeric_columns = [column for column in df.columns if column != "Data" and column != "Month" and column != "Year"]

# Create a list to store the aggregation expressions
agg_exprs = [avg(column).alias(f"Avg_{column}") for column in numeric_columns]

# Group by year and month, and calculate the average of numeric columns
grouped_df = df.groupBy("Year", "Month").agg(*agg_exprs)

# Show the resulting DataFrame
grouped_df_pd = grouped_df.toPandas()

grouped_df_pd

    Year  ...  Avg_VENTO VELOCIDADE HORARIA (m/s)
0   2022  ...                            2.001624
1   2022  ...                            2.406117
2   2022  ...                            2.254412
3   2022  ...                            2.326446
4   2022  ...                            2.306952
5   2022  ...                            2.128495
6   2022  ...                            2.277384
7   2022  ...                            2.693333
8   2022  ...                            2.676316
9   2022  ...                            2.437020
10  2022  ...                            2.910875
11  2022  ...                            2.096154

[12 rows x 19 columns]

In [ ]:
# Data Vizualisation: Temperature through 2022

# Select the relevant columns
temp_date_df = df.select("Data", "TEMPERATURA MÁXIMA NA HORA ANT (AUT) (°C)", "TEMPERATURA MÍNIMA NA HORA ANT (AUT) (°C)")

# Convert to Pandas DataFrame
temp_date_df_pd = temp_date_df.toPandas()

# Create the chart
plt.figure(figsize=(16, 10))

plt.plot(temp_date_df_pd["Data"], temp_date_df_pd["TEMPERATURA MÁXIMA NA HORA ANT (AUT) (°C)"], label="Max Temperature (°C)", color="red")
plt.plot(temp_date_df_pd["Data"], temp_date_df_pd["TEMPERATURA MÍNIMA NA HORA ANT (AUT) (°C)"], label="Min Temperature (°C)", color="blue")

plt.xlabel("Date")
plt.ylabel("Temperature (°C)")
plt.title("Temperature Over the Year")
plt.legend()

plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

In [ ]:
# Applying PCA to the dataframe filtered by the month of August

# Filter the rows where the month is 8
august_df = df.filter(month("Data") == 8)

# Show the resulting DataFrame
august_df_pd = august_df.toPandas()

august_df_pd.head()

In [ ]:
# Get the number of rows
num_rows = august_df.count()

# Get the list of column names
column_names = august_df.columns

# Display the dimensions
print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {len(column_names)}")

In [ ]:
column_names

In [ ]:
# List the columns you want to calculate the averages for
columns_to_average = [
    ('PRESSÃO ATMOSFERICA MAX NA HORA ANT  (AUT) (mB)', 'PRESSÃO ATMOSFERICA MIN NA HORA ANT (AUT) (mB)'),
    ('TEMPERATURA MÁXIMA NA HORA ANT (AUT) (°C)', 'TEMPERATURA MÍNIMA NA HORA ANT (AUT) (°C)'),
    ('TEMPERATURA ORVALHO MAX NA HORA ANT (AUT) (°C)', 'TEMPERATURA ORVALHO MIN NA HORA ANT (AUT) (°C)'),
    ('UMIDADE REL MAX NA HORA ANT (AUT) (%)', 'UMIDADE REL MIN NA HORA ANT (AUT) (%)'),
    ('VENTO RAJADA MAXIMA (m/s)', 'VENTO VELOCIDADE HORARIA (m/s)')
]

# Create a new DataFrame to store the averages
aug_avg_df_pd = pd.DataFrame()

# Calculate and store the averages for each column pair
for col1, col2 in columns_to_average:
    average_col_name = f'AVERAGE_{col1}_{col2}'  # Create a new column name
    aug_avg_df_pd[average_col_name] = (august_df_pd[col1] + august_df_pd[col2]) / 2

# Select the columns you want to keep from the original DataFrame
columns_to_keep = ['PRECIPITAÇÃO TOTAL HORÁRIO (mm)',
                   'RADIACAO GLOBAL (Kj/m²)']

# Select those columns from the original DataFrame
selected_columns = august_df_pd[columns_to_keep]

# Concatenate the selected columns with the DataFrame containing averages
aug_df_pd = pd.concat([selected_columns, aug_avg_df_pd], axis=1)

# Show de df
aug_df_pd.head()

In [ ]:
# Another way to plot the same information

corr = aug_df_pd.corr()

f, ax = plt.subplots(figsize=(11, 9))

mask = np.triu(np.ones_like(corr, dtype=bool))

cmap = sns.diverging_palette(230, 20, n=256, as_cmap=True)

sns.heatmap(aug_df_pd.corr(), 
            mask=mask, 
            cmap=cmap, 
            vmax=1, 
            vmin = -.25,
            center=0,
            square=True, 
            linewidths=.5,
            annot = True,
            fmt='.3f', 
            annot_kws={'size': 16},
            cbar_kws={"shrink": .75})

plt.title('Matriz de correlação')
plt.tight_layout()
ax.tick_params(axis = 'x', labelsize = 14)
ax.tick_params(axis = 'y', labelsize = 14)
ax.set_ylim(len(corr))

plt.show()

In [ ]:
# Your original column names
original_columns = ['PRECIPITAÇÃO TOTAL HORÁRIO (mm)',
                    'RADIACAO GLOBAL (Kj/m²)',
                    'AVERAGE_PRESSÃO ATMOSFERICA MAX NA HORA ANT  (AUT) (mB)_PRESSÃO ATMOSFERICA MIN NA HORA ANT (AUT) (mB)',
                    'AVERAGE_TEMPERATURA MÁXIMA NA HORA ANT (AUT) (°C)_TEMPERATURA MÍNIMA NA HORA ANT (AUT) (°C)',
                    'AVERAGE_TEMPERATURA ORVALHO MAX NA HORA ANT (AUT) (°C)_TEMPERATURA ORVALHO MIN NA HORA ANT (AUT) (°C)',
                    'AVERAGE_UMIDADE REL MAX NA HORA ANT (AUT) (%)_UMIDADE REL MIN NA HORA ANT (AUT) (%)',
                    'AVERAGE_VENTO RAJADA MAXIMA (m/s)_VENTO VELOCIDADE HORARIA (m/s)']

# Simplify the column names
simplified_columns = [
    'Precipitation',
    'Global_Radiation',
    'Avarage_Atmospheric_Pressure',
    'Avarage_Temperature',
    'Avarage_Dew_Temperature',
    'Avarage_Relative_Humidity',
    'Avarage_Wind_Speed'
]

# Rename the columns in the DataFrame
aug_df_pd.columns = simplified_columns

In [ ]:
# Estimating a linear multiple model with all variables
model_lrm = sm.OLS.from_formula("Avarage_Temperature ~ Precipitation +\
                                Global_Radiation +\
                                Avarage_Atmospheric_Pressure +\
                                Avarage_Dew_Temperature +\
                                Avarage_Relative_Humidity +\
                                Avarage_Wind_Speed", aug_df_pd).fit()

# Get the R² 
lrm_R2 = model_lrm.rsquared

# Model parameters
model_lrm.summary()

In [ ]:
# Estimating a new multiple model with dependent variable transformed by Box-Cox

# Stepwise Procedure

# Installation and loading of the package's 'stepwise' function
#'statstests.process'
# Package authors: Helder Prado Santos and Luiz Paulo Fávero
# https://stats-tests.github.io/statstests/
# pip install statstests
from statstests.process import stepwise

# Model estimation using the Stepwise procedure
model_setpwise = stepwise(model_lrm, pvalue_limit=0.05)

# Get the R²
stepwise_R2 = model_setpwise.rsquared

In [ ]:
# Test to verify the adherence of waste to normality

# Shapiro-Wilk test (n < 30)
# from scipy.stats import shapiro
# shapiro(modelo_step_empresas.resid)

# Shapiro-Francia test (n >= 30)
# Installation and loading of the package 'shapiro_francia' function
#'statstests.tests'
# Package authors: Luiz Paulo Fávero and Helder Prado Santos
# https://stats-tests.github.io/statstests/
# pip install statstests
from statstests.tests import shapiro_francia
shapiro_francia(model_setpwise.resid)

# Interpretation
teste_sf = shapiro_francia(model_setpwise.resid) # creation of the 'teste_sf' object
teste_sf = teste_sf.items() # returns the group of key-value pairs in the dictionary
method, statistics_W, statistics_z, p = teste_sf # definition of list elements (tuple)
print('Statistics W=%.5f, p-value=%.6f' % (statistics_W[1], p[1]))
alpha = 0.05 # level of significance
if p[1] > alpha:
	print('H0 is not rejected - Distribution in line with normality')
else:
	print('H0 is rejected - Distribution not adhering to normality')

In [ ]:
# For the Box-Cox lambda calculation
from scipy.stats import boxcox

x, lmbda = boxcox(aug_df_pd['Avarage_Temperature'])
print("Lambda: ",lmbda)

# Copy the original DataFrame to a new one
new_df = aug_df_pd.copy()

# Inserting the Box-Cox lambda into the dataset to estimate a new model
new_df['bc_Avarage_Temperature'] = x

# Estimating a new multiple model with dependent variable transformed by Box-Cox
model_boxcox = sm.OLS.from_formula("bc_Avarage_Temperature ~ Precipitation +\
                                Global_Radiation +\
                                Avarage_Atmospheric_Pressure +\
                                Avarage_Dew_Temperature +\
                                Avarage_Relative_Humidity +\
                                Avarage_Wind_Speed", new_df).fit()

# Model parameters
model_boxcox.summary()

# Get the R²
model_boxcox_R2 = model_boxcox.rsquared

In [ ]:
# Applying the Stepwise procedure to 'model_boxcox"
model_step_boxcox = stepwise(model_boxcox, pvalue_limit=0.05)

# Get the R²
model_step_boxcox_R2 = model_step_boxcox.rsquared

# Checking the normality of the residuals of 'model_step_boxcox'

# Shapiro-Francia test
shapiro_francia(model_step_boxcox.resid)

# Interpretation
teste_sf = shapiro_francia(model_step_boxcox.resid) # creation of the 'teste_sf' object
teste_sf = teste_sf.items() # returns the group of key-value pairs in the dictionary
method, statistics_W, statistics_z, p = teste_sf # definition of list elements (tuple)
print('Statistics W=%.5f, p-value=%.6f' % (statistics_W[1], p[1]))
alpha = 0.05 # level of significance
if p[1] > alpha:
	print('H0 is not rejected - Distribution in line with normality')
else:
	print('H0 is rejected - Distribution not adhering to normality')

In [ ]:
# Create a DataFrame
R2_data = {
    "Model": ["Linear Regression", "Stepwise Regression", "BoxCox", "Stepwise Boxcox"],
    "R-squared": [lrm_R2, stepwise_R2, model_boxcox_R2, model_step_boxcox_R2]
}

R2_df = pd.DataFrame(R2_data)
R2_df